body {
  margin: 0;
  background: black;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  font-family: "Fira Code", "Fira Mono", "Source Code Pro", monospace;
  
  box-sizing: border-box;
}

*, *::before, *::after { box-sizing: inherit; }

main {
  display: flex;
  flex-direction: column;
}

.lista {
  border: 2px solid white;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 300px;
  width: 500px;
  overflow: auto;
}

.lista li {
  border-bottom: 2px solid white;
  padding: 5px;
}

.lista li a {
  color: white;
  text-decoration: none;
}

.lista li a:hover {
  text-decoration: underline;
}

.lista li.playing { font-weight: bold; }

.controles {
  border: 2px solid white;
  border-top: none;
  text-align: center;
  width: 500px;
}

.controles audio {
  width: 100%;
}
